@model IEnumerable<Admin.Models.TChiTietHdn>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

<div class="backgr-color" style="background-color: white; padding-top: 10px; border-radius: 5px; box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);">
    <div>
        <h1 class="invoiceInDetail-list">CHI TIẾT HÓA ĐƠN NHẬP</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Số hóa đơn
                    </th>
                    <th>
                        Mã sản phẩm
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Nhà cung cấp
                    </th>
                    <th>
                        Khuyến mãi
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoHdn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaSpNavigation.MaSp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Slnhap)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoHdnNavigation.MaNccNavigation.TenNcc)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.KhuyenMai)
                        </td>
                        
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<hr />
<a asp-action="Create" class="btn btn-primary">Thêm chi tiết</a>
<div>
    @* <a asp-action="Index">Quay lại</a> *@
    @Html.ActionLink("Quay lại", "Index", "THoaDonNhaps")
</div>

<style>
    .btn {
        float: left;
        margin-left: 15px;
    }

    .invoiceInDetail-list {
        margin-top: revert-layer;
        text-align: center;
        font-size: 2rem;
    }
</style>
