@using Admin.Models.ViewModels;
@model ProductListViewModel



@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}



@* <h2>QUẢN LÝ SẢN PHẨM/Sản phẩm</h2> *@
<div class="backgr-color" style="background-color: white; padding-top: 10px; border-radius: 5px; box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);">
    <h1 class="product-list">DANH MỤC SẢN PHẨM</h1>
   @*  <hr />
    <div class="search-wrapper">
        <i class="search-icon-wrapper typcn typcn-zoom-outline"></i>
        <input type="text" placeholder="Search...">
    </div> *@
    <hr />
    <div class="table-responsive">
        <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
            <thead>
                <tr>
                    <th>
                        Tên sản phẩm
                    </th>
                    <th>
                        Đơn giá nhập
                    </th>
                    <th>
                        Đơn giá bán
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Ảnh
                    </th>
                    <th>
                        Tên hãng
                    </th>
                    <th>
                        Tên thể loại
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TenSp)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DonGiaNhap)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DonGiaBan)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SoLuong)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Anh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaHangNavigation.TenHang)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MaTlNavigation.TenTl)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.MaSp">Sửa</a> |
                            <a asp-action="Details" asp-route-id="@item.MaSp">Chi tiết</a> |
                            <a asp-action="Delete" asp-route-id="@item.MaSp">Xóa</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <hr />
        <a asp-action="Create" class="btn btn-primary">Thêm mới</a>

        <ul class="pagination justify-content-end" style="float: right; width: 50%; margin-right: 15px;">
            <li class="page-item"><a class="page-link" href="~/TSps/?productPage=productPage-1">Previous</a></li>
            
            @for(int i = 1; i <= Model.PagingInfo.totalPage; i++)
            {
                <li class="page-item"><a class="page-link" href="~/TSps/?productPage=@i">@i</a></li>
            }

            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>

    </div>
</div>

@* <p> *@
@* </p> *@
<style>
    .btn {
        float: left;
        margin-left: 15px;
    }

    .product-list {
        margin-top: revert-layer;
        text-align: center;
        font-size: 2rem;
    }
</style>